# Ignore everything under outputs
outputs/*

# Re-allow subdirectories
!outputs/*/

# Re-allow files inside subdirectories
!outputs/**/*.json
!outputs/**/*.iob2

checkpoints/
predictions/
logs/
*.pt
*.bin
*.pkl
*.h5
__pycache__/
*.pyc
.DS_Store
